<template name="ui_components_fileList">
    {{#if Template.subscriptionsReady}}
        {{#if isEmpty}}
            <p>Nothing to see here, folks!</p>
        {{else}}
            <div class="row">
                {{#each getFiles}}
                    {{#if (getFileDoc this)}}
                        <!-- Sometimes this is undefined?? -->
                        {{> ui_components_fileItem file=(getFileDoc this)}}
                    {{/if}}
                {{/each}}
            </div>
        {{/if}}
    {{else}}
        {{> ui_components_spinner}}
    {{/if}}
</template>