<template name="ui_components_fileItem">
    <li class="list-group-item mv-fileItem">
        <a href="{{getLink file._id}}" target="_blank">{{file.name}}</a>


        <span class="pull-right">
            <button class="btn btn-xs btn-warning" type="button" data-toggle="modal" data-target="#shareModal_{{file._id}}">
                <span class="glyphicon glyphicon-share-alt"></span>
            </button>

            <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#tagsModal_{{file._id}}">
                <span class="glyphicon glyphicon-tags"></span>
            </button>

            <a class="btn btn-xs btn-success mv-downloadFile" href="{{getLink file._id}}" download="{{file.name}}" target="_parent">
                <span class="glyphicon glyphicon-download"></span>
            </a>

            <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#renameModal_{{file._id}}">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>

            <button class="btn btn-xs btn-danger mv-deleteFile" type="button" data-toggle="modal" data-target="#delModal_{{file._id}}">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </span>

        {{> ui_modals_renameFile modalID=(getRenameModalID file._id) file=file}}
        {{> ui_modals_shareFile modalID=(getShareModalID file._id) file=file}}
        {{> ui_modals_editTags modalID=(getTagsModalID file._id) file=file}}
        {{> ui_modals_deleteFile modalID=(getDeleteModalID file._id) file=file}}
    </li>
</template>