<template name="ui_components_fileItem">
    {{> ui_modals_renameFile modalID=(getRenameModalID file._id) file=file}}
    {{> ui_modals_deleteFile modalID=(getDeleteModalID file._id) file=file}}

    <ul id="{{file._id}}_contextMenu" class='dropdown-content'>
        <li><a href="#{{getRenameModalID file._id}}"><i class="fa fa-2x fa-pencil" aria-hidden="true"></i></a></li>
        <li><a href="#{{getDeleteModalID file._id}}"><i class="fa fa-2x fa-tag" aria-hidden="true"></i></a></li>
        <li><a href="{{getLink file._id}}" target="_blank"><i class="fa fa-2x fa-download" aria-hidden="true"></i></a></li>
        <li class="divider"></li>
        <li><a href="#{{getDeleteModalID file._id}}"><i class="fa fa-2x fa-trash" aria-hidden="true"></i></a></li>
    </ul>

    <div class="col s6 m6 l6 xl4">
        <div class="card">

            <div class="card mv-fileItem">
                <div class="card-image filePreview valign-wrapper center-align center">
                    {{#if file.previewURL}}
                        <img src="http://eante.com.au/previews/{{file._id}}_preview.png">
                    {{else}}
                        {{> ui_components_spinner}}
                    {{/if}}
                </div>
                <div class="card-content">
                    <span class="card-title">{{getFileName}}</span>
                    {{getUploaderName}}<br>
                    {{getFileSize file}}MB
                    <a class='dropdown-button' data-activates='{{file._id}}_contextMenu'></a>
                </div>
            </div>
        </div>
    </div>

    <!--
    <li class="collection-item mv-fileItem">


        <a href="{{getLink file._id}}" target="_blank">{{file.name}}</a>
        {{getFileSize file}}MB
        {{getUploaderName}}
        {{> ui_modals_shareFile modalID=(getShareModalID file._id) file=file}}
        {{> ui_modals_editTags modalID=(getTagsModalID file._id) file=file}}
    </li>-->
</template>